@font-face {
  font-family: 'NanumGothic';
  src: url('../public/fonts/NanumGothic.ttf') format('truetype');
  src: url('../public/fonts/NanumGothic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'neurimboGothicRegular';
  src: url('../public/fonts/neurimboGothicRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family:
    'NanumGothic',
    'Pretendard-Regular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  font-family:
    'NanumGothic',
    'neurimboGothicRegular',
    'Pretendard-Regular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto';
}
